# Node (JavaScript/TypeScript)
*.tsbuildinfo
node_modules

# Environment
.env
.env.*
!.env.example
!.env.test

# Build
build
dist
out

# Test
coverage

# Logs
*.log
logs

# Temporary
*.temp
*.tmp
.temp
.tmp

# OS
.DS_Store
Thumbs.db

# Generated
vaults
